html, body, form, fieldset, h1, h2, h3, h4, h5, h6, p, pre, blockquote, 
ul, ol, dl, address {  
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
}
a:link {
  color: #3429e0;
  text-decoration: none;
  border-bottom: 1px dotted #ffbac8;
}  
a:visited {
  color: #3429e0;
  border-bottom: none;
  text-decoration: none;
}    
a:hover,
a:focus {
  color: #f03b58;
  border-bottom: 1px solid #f03b58;
  text-decoration: none;
}

table a,
table a:link,
table a:visited {
  border: none;
  color: #04093e;
}              
table a:hover {
  color: #f03b58;
}
  
img {
  border: 0;
  margin-top: .5em;
}  

table {
  width: 80%;
  border-top: 2px solid #e5eff8;
  border-right: 2px solid #e5eff8;
  border-collapse: collapse;
}

td {
  color: black;
  border-bottom: 1px solid #e5eff8;
  border-left: 1px solid #e5eff8;
  padding: .3em .3em;
  text-align: left;
}        
th {
  font-weight: bold;
  color: black;
  text-align: left;
  border-bottom: 1px solid #e5eff8;
  border-left: 1px solid #e5eff8;
  padding: .3em .3em;
}              
thead th {
  background: #f4f9fe;
  text-align: center;
  color: black;
}  
tbody th {
  background: #f4f9fe;
}
tfoot th {
  text-align: center;
  background: #f4f9fe;
}  
tfoot th strong {
  margin: .5em .5em .5em 0;
  color: #66a3d3;
}    
tfoot th em {
  color: #f03b58;
  font-weight: bold;
  font-size: 1.1em;
  font-style: normal;
}  
.helptext {
  color: gray;
}
.errorlist {
  color: red;
}
