{% extends "fileupload/fileupload_base.html" %}
{% block content %}
<h1>工具介绍</h1>
这个工具是用来上传和下载文件的,主要是用于文件短时间的保存,因为文件是保存在VPS上,这个VPS我还不一定会一直用下去<br />
写这个工具的初衷,是因为我觉得VPS的流量和空间我基本没怎么用,实在是很浪费,所以要想个办法,把这些空间和流量用起来,然后我想拿来作为一个文件中转站还是挺不错的一个用途,于是写了这个小工具.<br />
写这个工具的过程,对django的form基本算是有了一定的了解,对于其防止XSS的csrf机制,暂时还没有去搞明白,但是用用还是可以的.另外是对数据库的简单操作也没问题了.<br /><br />

<h2>特别说明</h2>
1. 这个工具主要是我自己用的,上传需要密码,如果有需要的话,可以找我索取.下载不需要密码,只要知道链接地址就可以下载,图片什么的直接可以显示<br />
2. 上传的密码是按照文件夹进行管理的,不同文件夹的密码不同,针对文件夹,可以设置其最大文件大小,以及总容量<br />
3. 我的VPS估计能用的空间大概在5G左右,太大的文件就不要上传了,另外我在apache里面也设置了单文件最大100MB,所以如果你上传一个101MB的文件,可能会等半天后,告诉你上传失败,这是因为目前我还找不到办法,可以在上传前判断文件大小.<br />
{% endblock content %}
