<!DOCTYPE html>
<html>
  <body>
    <h1>常用链接：</h1><br />
    <a href="all">查看所有操作日志</a><br />
    <a href="money">查看余额</a><br />
    <a href="discuss">讨论区</a><br /><br />
    <h1>网站说明：</h1><br />
    <h2>起因：</h2><br />
    整个项目的起因来源于2012年愚人节的一个提议，当时有人提出写一个计算双色球或者大乐透的算号程序，然后大家集资购买，每一期每个人投入一定的金钱，期望着中一个大奖。
    于是，我写了一个软件的设计方案，然后利用空闲的时间，慢慢的开发这个软件，花了两个月的时间，到5月底软件的功能基本完成，也算是可以进入beta测试了。
    为了记录操作的日志，而且最近刚好也弄了一个VPS，弄了两个域名，又研究过Django，所以我干脆就写了一个简陋的日志网页，反正是自己人看的，只要有需要的功能就可以了。用户体验什么的我就先不管了，等以后有心情的话再说。
    <h2>算号软件说明：</h2>
    
  </body>
</html>
