<html>
  <body>
    <h1>常用链接：</h1><br />
    <a href="index">返回主页</a><br />
    <a href="all">查看所有操作日志</a><br />
    <a href="discuss">讨论区</a><br /><br />
    <h2>注意：</h2>
    本页面中列出了每个人的账户中的余额，由于还没有写提交页面，所以金额的变动需要人工修改，一方面是可能出现计算错误的情况，另一个方面是更新肯定是不及时的，所以本页面中的数据仅作参考，实际数值以我自己统计的为准<br /><br />
    <table border="1">
      <tr>
        <td>用户名</td>
        <td>账户余额</td>
      </tr>
{% for p in people %}
      <tr>
        <td>{{ p.name }}</td>
        <td>{{ p.money }}</td>
      </tr>
{% endfor %}
    </table>
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15769172-4']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

 </script>
  </body>
</html>
