<html>
  <body>
    <table border="1">
      <tr>
        <td>时间</td>
        <td>操作者</td>
        <td>动作</td>
        <td>说明</td>
        <td>备注</td>
      </tr>

{% for log in logs %} 
      <tr>
        <td><span title="{{ log.date|date:"Y-m-d H:i:s" }}">
            {{ log.date|date:"Y-m-d" }}
            <span></td>
        <td>{% for p in log.people %}{{ p.name }} {% endfor %}</td>
        <td>{{ log.action }}</td>
        <td>{{ log.content }}</td>
        <td>
          {% if log.has_remarks %}
          <span title="{{ log.remarks }}">
            <a href='remarks/{{ log.ID }}'>查看备注</a>
          </span>
        </td>
          {% else %}
          &nbsp;
          {% endif %}
        </td>
{% endfor %}
      </tr>
    </table>
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15769172-4']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

 </script>
  </body>
</html>
