<html>
  <body>
    <table border="1">
      <tr>
        <td>时间</td>
        <td>{{ log.date|date:"Y-m-d H:i:s" }}</td>
      </tr>
      <tr>
        <td>操作者</td>
        <td>{% for p in log.people %}{{ p.name }} {% endfor %}</td>
      </tr>
      <tr>
        <td>操作</td>
        <td>{{ log.action }}</td>
      </tr>
      <tr>
        <td>内容</td>
        <td>{{ log.content }}</td>
      </tr>
      <tr>
        <td>备注</td>
        <td>{{ log.remarks }}</td>
      </tr>
    </table>
<!-- Google Analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-15769172-4']);
  _gaq.push(['_trackPageview']);

  (function() {
   var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
   ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
   var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();

 </script>
  </body>
</html>
