<html>
  <head>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="/js/init.js" type="text/javascript"></script>
    <script language="javascript">
      window.addEventListener('load', initBar, true);
      window.addEventListener('load', initPoint, true);
    </script>
  </head>
  <body>
    <svg id="pic" x="{{ svg.x }}" y = "{{ svg.y }}" width = "{{ svg.width }}" height="{{ svg.height }}">
    {% for bar in bars %}
    <g id="{{ bar.name }}" parent_name="{{ bar.parent_name }}">
    <text x="{{ prj.text_x }}" y="{{ bar.y|add:10 }}" font-size="{{ prj.text_font_size }}" textlength="{{ prj.text_length }}">
    {{ bar.name }}
    </text>
    <rect class="bar" x="{{ bar.x }}" y="{{ bar.y }}" width="{{ bar.length }}" fill="{{ bar.color }}" onclick=toggle("{{ bar.name }}") />
    </g>
    {% endfor %}
    <svg>
  </body>
</html>
